body {
  background-color: var(--secondary-bacground-color);
  color: var(--primary-text-color);
}

.list-link {
  color: var(--title-text-color);
}

/* section */

.section-title {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.auth-nav .link {
  /* background-color: cadetblue; */
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* feature */
.feature .title {
  color: var(--title-text-color);
}
.list.feature {
  display: flex;
  /* margin-top: 0px;
  margin-bottom: 0px; */
}

/* button */
.button {
  border: 1px solid transparent;
  display: inline-block;
  color: var(--title-text-color);
  background-color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
}

/* hero */
.hero {
  text-align: center;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
/* чем мы занимаемся  */
.logo-web {
  color: var(--logo-text-color);
}

.logo-web.logo {
  margin-right: 93px;
}
.list {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.title-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}
.feature-items li {
  width: 270px;
}

.our-team {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0px;
  padding: 0px;
}
.our-team-name {
  margin-bottom: 10px;
}
.our-team-position {
  font-weight: 400;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.our-team-img {
  margin-bottom: 30px;
}
.section {
  margin-bottom: 94px;
}
.container-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list.footer {
  justify-content: flex-start;
}
.list .item:not(:last-child) {
  margin-right: 10px;
}
